{{#each this}}
<div class='card'>
      <a href="{{info}}"><img class='card_img' src="{{url}}" alt=""></a>
      <img src="./images/Triangle.png" alt="" class='arrow_img' >
       <ul  class='card_info'>
         <li>album name</li>
         <li>{{album}}</li>
         <li>artist name</li>
         <li>{{artist}}</li>
         <li>rank</li>
         <li>{{rank}}</li>
       </ul>
 
</div>

{{/each}}